<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>SmartyStreets Address Validation</display-name>
  <servlet>
        <servlet-name>Address</servlet-name>
        <servlet-class>soumyavn.java.AddressInfo</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Address</servlet-name>
        <url-pattern>/AddressServlet</url-pattern>
    </servlet-mapping>
</web-app>
